@model Wuzlstats.ViewModels.Home.GamesViewModel

<p>
    All games of this league are listed here.
</p>

@if (Model.Games.Any())
{
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Players</th>
            <th>Score</th>
        </tr>

        @foreach (var game in Model.Games)
        {
            <tr>
                <td>
                    @game.Date UTC
                </td>
                <td>
                    <span class="team-red">@game.RedPlayers</span> : <span class="team-blue">@game.BluePlayers</span>
                </td>
                <td>
                    <span class="team-red">@game.RedScore</span> : <span class="team-blue">@game.BlueScore</span>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-warning">There are no games associated with this league. What a pity, you definitly should wuzl more.</div>
}
