@model Wuzlstats.ViewModels.Leagues.IndexViewModel

<h1>Choose a league</h1>

<p>
    Leagues are used to group players and games. Statistics are calculated for each league.
</p>

@if (Model.Leagues.Any())
{
    <table class="table">
        <tr>
            <th>League</th>
            <th class="hidden-xs"># of games (all time)</th>
            <th class="hidden-xs"># of games (@Model.DaysForStatistics days)</th>
            <th class="text-right">
                <a asp-action="Create" class="btn btn-default">Create a new league</a>
            </th>
        </tr>

        @foreach (var league in Model.Leagues)
        {
            <tr>
                <td>
                    @league.Name
                </td>
                <td class="hidden-xs">
                    @league.GamesCountTotal.ToString("N0")
                </td>
                <td class="hidden-xs">
                    @league.GamesCountDays.ToString("N0")
                </td>
                <td class="text-right">
                    <a href="@Url.Action("Index", "Home", new { league = league.Name })" class="btn btn-primary">Switch to this league</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-warning">There are no leagues yet. You should <a  href="@Url.Action("Create", "Leagues")"  class="alert-link">create a new one</a>.
    </div>
}
