@model Wuzlstats.ViewModels.Player.IndexViewModel.PlayerStatistics

<table class="table">
    <tr>
        <th># 1 vs. 1 games:</th>
        <td class="text-right">@Model.SingleGames</td>
    </tr>
    <tr>
        <th># 2 vs. 2 games:</th>
        <td class="text-right">@Model.TeamGames</td>
    </tr>
    <tr>
        <th># wins:</th>
        <td class="text-right">
            <span class="team-red">@Model.RedWins</span> :
            <span class="team-blue">@Model.BlueWins</span>
        </td>
    </tr>
    <tr>
        <th># losses:</th>
        <td class="text-right">
            <span class="team-red">@Model.RedLosses</span> :
            <span class="team-blue">@Model.BlueLosses</span>
        </td>
    </tr>
    <tr>
        <th>Favorite position:</th>
        <td class="text-right">@Model.FavoritePosition (@Model.FavoritePositionGames @(Model.FavoritePositionGames == 1 ? "game" : "games"))    </td>
    </tr>
    <tr>
        <th>Favorite teammate:</th>
        <td class="text-right">@Model.PlayedMostGamesWith (@Model.PlayedMostGamesWithCount @(Model.PlayedMostGamesWithCount == 1 ? "game" : "games"))</td>
    </tr>
    <tr>
        <th>Lousiest opponent:</th>
        <td class="text-right">@Model.WonMostGamesAgainst (@Model.WonMostGamesAgainstCount @(Model.WonMostGamesAgainstCount == 1 ? "game" : "games"))</td>
    </tr>
    <tr>
        <th>Arch enemy:</th>
        <td class="text-right">@Model.LostMostGamesAgainst (@Model.LostMostGamesAgainstCount @(Model.LostMostGamesAgainstCount == 1 ? "game" : "games"))</td>
    </tr>
    <tr>
        <th># goals scored:</th>
        <td class="text-right">@Model.GoalsScored.ToString("N0")</td>
    </tr>
    <tr>
        <th># goals taken:</th>
        <td class="text-right">@Model.GoalsTaken.ToString("N0")</td>
    </tr>
    <tr>
        <th>First game played:</th>
        <td class="text-right">@Model.FirstGameDate</td>
    </tr>
    <tr>
        <th>Last game played:</th>
        <td class="text-right">@Model.LastGameDate</td>
    </tr>
</table>